/* body {
    width: 100%;
    height: 100vh;
    background: rgb(0, 0, 0);
    background: linear-gradient(329deg, rgba(0, 0, 0, 1) 16%, rgba(15, 34, 61, 1) 42%, rgba(17, 17, 54, 1) 90%);
} */
.container {
  display: flex;
  flex-direction: column;
  gap: 60px;
}
table {
  font-family: arial, sans-serif;
  border-collapse: collapse;
  width: 100%;
}
.title{
  width: 80px;
}
td,
th {
  border: 1px solid #dddddd;
  text-align: left;
  padding: 8px;
  width: 150px;
  text-align: center;
}

tr button {
  width: auto;
  padding: 0px 10px;
  height: 34.88px;
  font-weight: 700;
  cursor: pointer;
  color: #feffff;
  background-color: #1164e0;
  border-radius: 8px;
  margin-left: 10px;
  box-shadow: 0px 0px 8px
    linear-gradient(
      329deg,
      rgba(0, 0, 0, 1) 16%,
      rgba(15, 34, 61, 1) 42%,
      rgba(17, 17, 54, 1) 90%
    );
}

.plusTr {
  width: 55px;
  height: 55px;
  border-radius: 50%;
  font-size: 32px;
  border: 2px solid #1164e0;
  position: fixed;
  bottom: 100px;
  right: 50px;
  cursor: pointer;
  color: #1164e0;
  background: transparent;
  z-index: 1;
}

